@import '~antd/dist/antd.less';
@font-family: "Segoe UI",
"Helvetica Neue",
Helvetica,
Arial,
"Hiragino Sans",
sans-serif,
"Segoe UI Emoji",
"Segoe UI Symbol";
html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
}

li {
    list-style: none;
}
